<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" href="themes/dark/assets/img/filemanager_logo.png"/>
<link rel="stylesheet" href="themes/dark/assets/style.unminified.css" />
<title>FileManager</title>
</head>
  <body translate="no">
    <div class="afterLoginPicture">
      <img src="themes/dark/assets/img/splash.png" /><br />
      {{ message }}
    </div>
    <div class="loader"></div>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  </body>
</html>
