<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="FileManager {{ status_bar.info.version }}" />
    <title>FileManager</title>
    <link rel="shortcut icon" type="image/png" href="themes/dark/assets/img/filemanager_logo.png"/>
    {% if debug %}
      <link href="themes/dark/assets/style.unminified.css" rel="stylesheet">
    {% else %}
      <link href="themes/dark/assets/style.css" rel="stylesheet">
    {% endif %}
    {% for item in assets.css %}
      <link href="{{ item }}" rel="stylesheet">
    {% endfor %}
    <style>
      /* START CSS VIEW-MODE: {{ view_mode.view_mode }} */
{{ view_mode.css | raw }}
      /* STOP CSS VIEW-MODE: {{ view_mode.view_mode }} */
    </style>
  </head>
  <body translate="no">
    <div class="body_cover"></div>
    <div class="page filemanager-page">
      <div id="dialog" class="jquery_dialog" title="Dialog Form">
        <div class="dialog__content">
        </div>
      </div>
      <div class="section group">
        <div class="col span_3_3">
          <div class="nav-left">
            <div class="dropdown">
              <button class="dropbtn folderbtn">Folder</button>
              <div class="dropdown-content">
              {% for button in menus.folder %}
               <a class="dropdown-item {{ button.class }}"{% if button.onclick %} onClick="{{ button.onclick }}" {% endif %}>{{ button.value }}</a>
              {% endfor %}
              </div>
            </div>
          </div>
          <div class="nav-right">
            <div class="dropdown">
              <button class="dropbtn filebtn">File</button>
              <div class="dropdown-content">
              {% for button in menus.file %}
                <a class="{{ button.class }}"{% if button.onclick %} onClick="{{ button.onclick }}" {% endif %}>{{ button.value }}</a>
              {% endfor %}
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn" onClick="window.location.href='./viewModes.php'">View mode</button>
              <div class="dropdown-content">
              {% for modes in all_view_modes %}
                <a class="dropdown-item{% if modes.view_mode == view_mode.view_mode %} current{% endif %}" onClick="javascript:changeViewMode('{{ path }}', '{{ modes.view_mode }}')">{{ modes.view_mode }}</a>
              {% endfor %}
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Manage</button>
              <div class="dropdown-content">
                {% if permissions.administer_site %}
                  <a class="dropdown-item" onClick="window.location.href='./options.php';">Settings</a>
                  <a class="dropdown-item" onClick="window.location.href='./viewModes.php'">View modes</a>
                  <a class="dropdown-item" onClick="window.location.href='./users.php'">Users</a>
                  <a class="dropdown-item" onClick="window.location.href='./logs.php';">Logs</a>
                  <a class="dropdown-item" onClick="window.location.href='./updates.php';">Updates</a>
                {% endif %}
                <a class="dropdown-item changePassword">Password</a>
              </div>
            </div>
            <button onClick="window.location.href='./login.php?logout'">Log-out</button>
          </div>
        </div>
      </div>
      <div class="section group max-height">
        <div class="col span_1_3">
          <div class="content" style="white-space: nowrap;">
            {% if isset_path %}
             &nbsp;&nbsp;&nbsp;<a href="./">{{ last_item_root }}</a> {{ list_filesystem | raw }}
            {% else %}
              &nbsp;&nbsp;&nbsp;{{ settings.selected_item_prefix | raw }} {{ last_item_root }} {{ settings.selected_item_suffix | raw }} {{ list_filesystem | raw }}
            {% endif %}
          </div>
        </div>
        <div class="col span_2_3">
          <div class="content">
            {{ view_mode.prefix | raw }}
            {% for item in files %}
              {{ item.final_code | raw }}
            {% endfor %}
            {{ view_mode.suffix | raw }}
          </div>
        </div>
      </div>
      {% if status_bar is iterable %}
        <div class="section group">
          <div class="col span_3_3" style="padding: 8px">
            <small>[{{ status_bar.status.timestamp|date("d/m/Y | H:i:s") }}] Info: {{ status_bar.status.value|raw }}</small>
            <small style="float:right;"><div id="progressbar"><div style="width:{{ status_bar.info.disk_space.used_percentage }}%;"></div></div> {{ status_bar.info.disk_space.formatted_used|join(' ') }} / {{ status_bar.info.disk_space.formatted_total|join(' ') }} | Theme: {{ status_bar.current_theme }} | Version: {{ status_bar.info.version }}</small>
          </div>
        </div>
      {% endif %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
      let action_array = [];
      let jsonString = '';
      let path = '{{ path }}';
      path = path.replace(new RegExp(' ', 'g'), '%20');
      {{ view_mode.js | raw }}
    </script>
    <script src="themes/dark/assets/scripts.js"></script>
    {% for item in assets.js %}
      <script src="{{ item }}"></script>
    {% endfor %}
  </body>
</html>
