<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="FileManager {{ status_bar.info.version }}" />
    <title>FileManager</title>
    <link rel="shortcut icon" type="image/png" href="themes/dark/assets/img/filemanager_logo.png"/>
    {% if debug %}
      <link href="themes/dark/assets/style.unminified.css" rel="stylesheet">
    {% else %}
      <link href="themes/dark/assets/style.css" rel="stylesheet">
    {% endif %}
    {% for item in assets.css %}
      <link href="{{ item }}" rel="stylesheet">
    {% endfor %}
    <style language="css">
      thead th {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 10;
        text-shadow: 0px 0px 5px #000;
      }
    </style>
  </head>
  <body translate="no">
    <div class="body_cover"></div>
    <div class="page filemanager-page">
      <div class="section group max-height" style="height: 95%">
        <div class="col span_3_3">
          <div class="content">
            <form method="post">
              <label for="install_username">
                Username:
                <input type="text" name="install_username" placeholder="Username" />
              </label>
              <label for="install_password">
                Password:
                <input type="password" name="install_password" />
              </label>
              <label for="install_submit">
                Password:
                <input type="submit" name="install_submit" value="Install site" />
              </label>
              This will initiate the installation progress.<br />
              The exact steps below:<br />
              <ul>
                <li>Import database</li>
                <li>Create user with ID 1000000</li>
                <li>Import settings from settings file</li>
              </ul>
            </form>
          </div>
        </div>
      </div>
      {% if status_bar is iterable %}
        <div class="section group">
          <div class="col span_3_3" style="padding: 8px">
            <small>[{{ status_bar.status.timestamp|date("d/m/Y | H:i:s") }}] Info: {{ status_bar.status.value }}</small>
            <small style="float:right;"><div id="progressbar"><div style="width:{{ status_bar.info.disk_space.used_percentage }}%;"></div></div> {{ status_bar.info.disk_space.formatted_used|join(' ') }} / {{ status_bar.info.disk_space.formatted_total|join(' ') }} | Theme: {{ status_bar.current_theme }} | Version: {{ status_bar.info.version }}</small>
          </div>
        </div>
      {% endif %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% for item in assets.js %}
      <script src="{{ item }}"></script>
    {% endfor %}
  </body>
</html>
