<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="FileManager {{ status_bar.info.version }}" />
    <link rel="shortcut icon" type="image/png" href="themes/dark/assets/img/filemanager_logo.png"/>
    {% if debug %}
      <link href="themes/dark/assets/style.unminified.css" rel="stylesheet">
    {% else %}
      <link href="themes/dark/assets/style.css" rel="stylesheet">
    {% endif %}
    <title>{{ title }}</title>
  </head>
  <body translate="no">
    <div class="page login-page">
      <div class="form">
        <form class="login-form" method="post">
          <input type="text" name="username" placeholder="username" />
          <input type="password" name="password" placeholder="password" />
          <button>Login</button>
        </form>
        {% if message %}
          <p>{{ message|raw }}</p>
        {% endif %}
      </div>
    </div>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  </body>
</html>
