<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="FileManager {{ status_bar.info.version }}" />
    <title>FileManager</title>
    <link rel="shortcut icon" type="image/png" href="themes/dark/assets/img/filemanager_logo.png"/>
    {% if debug %}
      <link href="themes/dark/assets/style.unminified.css" rel="stylesheet">
    {% else %}
      <link href="themes/dark/assets/style.css" rel="stylesheet">
    {% endif %}
    {% for item in assets.css %}
      <link href="{{ item }}" rel="stylesheet">
    {% endfor %}
    <style language="css">
      thead th {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 10;
        text-shadow: 0px 0px 5px #000;
        background-color: #4f4f4f;
        border-bottom: 1px solid #383838;
        text-align: left;
      }
      tbody tr:hover {
        background-color:rgba(33,186,27,0.5);
      }
      .tooltip {
        display:none;
        position:absolute;
        border:1px solid #333;
        background-color:#161616;
        border-radius:5px;
        padding:10px;
        color:#fff;
        font-size:12px Arial;
        z-index:9999;
      }
    </style>
  </head>
  <body translate="no">
    <div class="body_cover"></div>
    <div class="page filemanager-page">
      <div id="dialog" class="jquery_dialog" title="Dialog Form">
        <div class="dialog__content">
        </div>
      </div>
      <div class="section group">
        <div class="col span_3_3">
          <div class="nav-left">
            <form method="get">
              {% if filters|length > 0 %}
                {% for filter_key,filter_value in filters %}
                  {% if filter_key != 'search_term' %}
                    <input type="hidden" name="{{ filter_key }}" value="{{ filter_value }}" />
                  {% endif %}
                {% endfor %}
              {% endif %}
              <input type="text" style="margin-bottom:0;" name="search_term" id="search_term" placeholder="Search term..." value="{{ filters.search_term }}" />
            </form>
            <button onClick="window.location.href='logs.php?search_term=' + $('#search_term').val();">Search</button>
            <button onClick="window.location.href='logs.php?remove';">Delete logs</button>
            {% if filters|length > 0 %}
              <button onClick="window.location.href='{{ links.url_without_params }}';" style="float:right;">Reset all filters</button>
            {% endif %}
            {% for filter_key,filter_value in filters %}
              <button onClick="window.location.href='{{ links.url.removeParamsFromCurrentUrl(filter_key) }}';" style="float:right;">{{ filter_key }}</button>
            {% endfor %}
          </div>
          <div class="nav-right">
            <button onClick="window.location.href='./'">Home</button>
            <div class="dropdown">
              <button class="dropbtn">Manage</button>
              <div class="dropdown-content">
                <a class="dropdown-item" onClick="window.location.href='./options.php';">Settings</a>
                <a class="dropdown-item" onClick="window.location.href='./viewModes.php'">View modes</a>
                <a class="dropdown-item" onClick="window.location.href='./users.php'">Users</a>
                <a class="dropdown-item" onClick="window.location.href='./logs.php';">Logs</a>
                <a class="dropdown-item" onClick="window.location.href='./updates.php';">Updates</a>
                <a class="dropdown-item changePassword">Password</a>
              </div>
            </div>
            <button onClick="window.location.href='./login.php?logout'">Log-out</button>
          </div>
        </div>
      </div>
      <div class="section group max-height">
        <div class="col span_3_3">
          <div class="content">
            <table style="width:95%">
              <thead>
                <tr>
                  <th><a href="{{ links.sort_key_id }}">#ID</a></th>
                  <th><a href="{{ links.sort_key_username }}">User</a></th>
                  <th><a href="{{ links.sort_key_ip }}">IP</a></th>
                  <th><a href="{{ links.sort_key_log }}">Log</a></th>
                  <th><a href="{{ links.sort_key_path }}">Path</a></th>
                  <th><a href="{{ links.sort_key_timestamp }}">Created</a></th>
                </tr>
              </thead>
              <tbody>
                {% for log in logs %}
                  <tr>
                    <td>{{ log.id }}</td>
                    <td>{{ log.username }}</td>
                    <td><a class="masterTooltip" title="{{ log.ip }}">{{ log.ip }}</a></td>
                    <td>{{ log.log|raw }}</td>
                    <td>{{ log.path }}</td>
                    <td>{{ log.timestamp|date('H:i  d-m') }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% if status_bar is iterable %}
        <div class="section group">
          <div class="col span_3_3" style="padding: 8px">
            <small>[{{ status_bar.status.timestamp|date("d/m/Y | H:i:s") }}] Info: {{ status_bar.status.value|raw }}</small>
            <small style="float:right;"><div id="progressbar"><div style="width:{{ status_bar.info.disk_space.used_percentage }}%;"></div></div> {{ status_bar.info.disk_space.formatted_used|join(' ') }} / {{ status_bar.info.disk_space.formatted_total|join(' ') }} | Theme: {{ status_bar.current_theme }} | Version: {{ status_bar.info.version }}</small>
          </div>
        </div>
      {% endif %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('.masterTooltip').hover(function(){
        var title = $(this).attr('title');
          if (title != '192.168.0.1') {
          $(this).data('tipText', title).removeAttr('title');
          $('<p class="tooltip"></p>')
          .load('./ajaxRequest.php?mode=iplookup&ip=' + title)
          .appendTo('body')
          .fadeIn();
        }
      }, function() {
      $(this).attr('title', $(this).data('tipText'));
      $('.tooltip').remove();
      }).mousemove(function(e) {
        var mousex = e.pageX + 20;
        var mousey = e.pageY + 10;
        $('.tooltip').css({ top: mousey, left: mousex })
      });
    });
    </script>
    {% for item in assets.js %}
      <script src="{{ item }}"></script>
    {% endfor %}
    <script src="themes/dark/assets/scripts.js"></script>
  </body>
</html>
