<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="FileManager {{ status_bar.info.version }}" />
    <title>FileManager - View modes</title>
    <link rel="shortcut icon" type="image/png" href="themes/dark/assets/img/filemanager_logo.png"/>
    {% if debug %}
      <link href="themes/dark/assets/style.unminified.css" rel="stylesheet">
    {% else %}
      <link href="themes/dark/assets/style.css" rel="stylesheet">
    {% endif %}
  </head>
  <body translate="no">
    <div class="body_cover"></div>
    <div class="page filemanager-page">
      <div id="dialog" class="jquery_dialog" title="Dialog Form">
        <div class="dialog__content">
        </div>
      </div>
      <div class="section group">
        <div class="col span_3_3">
          <div class="nav-right">
            <button onClick="window.location.href='./'">Home</button>
            <button onClick="window.location.href='?ImportSettings'">Import settings</button>
            <div class="dropdown">
              <button class="dropbtn">Manage</button>
              <div class="dropdown-content">
                <a class="dropdown-item" onClick="window.location.href='./options.php';">Settings</a>
                <a class="dropdown-item" onClick="window.location.href='./viewModes.php'">View modes</a>
                <a class="dropdown-item" onClick="window.location.href='./users.php'">Users</a>
                <a class="dropdown-item" onClick="window.location.href='./logs.php';">Logs</a>
                <a class="dropdown-item" onClick="window.location.href='./updates.php';">Updates</a>
                <a class="dropdown-item changePassword">Password</a>
              </div>
            </div>
            <button onClick="window.location.href='./login.php?logout'">Log-out</button>
          </div>
        </div>
      </div>
      <div class="section group max-height">
        <div class="col span_1_3">
          <div class="content">
            <div class="view_modes_list">
              <ul>
              {% for key,value in settings %}
                <li><a href="?edit={{ key }}"{% if edit.key == key %} class="selected"{% endif %}>{{ key }}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col span_2_3">
          <div class="content">
            {% if edit %}
              {% if descriptions[edit.key] %}
                {{ descriptions[edit.key] }}
                <hr />
              {% endif %}
              <form method="post">
                <input type="hidden" name="setting_key" value="{{ edit.key }}" />
                {% if edit.values is iterable %}
                  <input type="hidden" name="setting_iterable" value="TRUE" />
                  {% for key,value in edit.values %}
                    <label for="setting_{{ edit.key }}_{{ key }}">
                      {{ edit.key }} | {{ key }}:
                      <input type="text" name="setting_{{ edit.key }}_{{ key }}" value="{{ value|join(',') }}" />
                    </label>
                  {% endfor %}
                {% else %}
                  {{ edit.key }}:
                  {% if edit.values == '1' or edit.values == '0' %}
                    <label for="setting_{{ edit.key }}">
                      <input type="checkbox" value="1" name="setting_{{ edit.key }}"{{ edit.values == '1' ? 'checked' : '' }} />
                    </label>
                  {% else %}
                    <label for="setting_{{ edit.key }}">
                      <input type="text" name="setting_{{ edit.key }}" value="{{ edit.values }}" />
                    </label>
                  {% endif %}
                {% endif %}
                <label for="setting_save">
                  Save setting:
                  <input type="submit" name="setting_save" value="Save" />
                </label>
              </form>
            {% elseif importsettings %}
              {% if imported_settings %}
                Settings from settings.php successfully imported into database.
              {% else %}
                <p>You are about to override all settings in the database by importing settings from the settings.php file</p>
                <p>Are you sure this is what you wanted to do?</p>
                <p><button onClick="window.location.href='?ImportSettings=consent'">Yes, I'm sure!</button> <button onClick="window.location.href='?'">No, take me back</button></p>
                <ul style="margin-left: -20px;">
                  {% for key,value in settings %}
                      {% if value is iterable %}
                        {% for key_inner,value_inner in value %}
                          {% if value_inner is iterable %}
                            <li><b>{{ key }} | {{ key_inner }}</b>: {% if original_settings[key] %}<br />- <font color="#d32626">{% endif %}{{ value_inner|join('\n\r') }}{% if original_settings[key] %}</font><br /> + <font color='#28d326'>{{ original_settings[key][key_inner]|join(',') }}</font>{% endif %}</li>
                          {% else %}
                            <li><b>{{ key }} | {{ key_inner }}</b>: {% if original_settings[key] %}<br />- <font color="#d32626">{% endif %}{{ value_inner }}{% if original_settings[key] %}</font><br /> + <font color='#28d326'>{{ original_settings[key][key_inner] }}</font>{% endif %}</li>
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        <li><b>{{ key }}</b>: {% if original_settings[key] %}<br />- <font color="#d32626">{% endif %}{{ value }}{% if original_settings[key] %}</font><br /> + <font color='#28d326'>{{ original_settings[key] }}</font>{% endif %}</li>
                      {% endif %}
                  {% endfor %}
                  {% for key,value in new_settings %}
                      {% if value is iterable %}
                        {% for key_inner,value_inner in value %}
                          {% if value_inner is iterable %}
                            <li><b>{{ key }} | {{ key_inner }}</b>: <font color='#28d326'>{{ new_settings[key][key_inner]|join(',') }}</font></li>
                          {% else %}
                            <li><b>{{ key }} | {{ key_inner }}</b>:  <font color='#28d326'>{{ new_settings[key][key_inner] }}</font></li>
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        <li style="color: #28d326"><b>{{ key }}</b>: {{ new_settings[key] }}</li>
                      {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      {% if status_bar is iterable %}
        <div class="section group">
          <div class="col span_3_3" style="padding: 8px">
            <small>[{{ status_bar.status.timestamp|date("d/m/Y | H:i:s") }}] Info: {{ status_bar.status.value|raw }}</small>
            <small style="float:right;"><div id="progressbar"><div style="width:{{ status_bar.info.disk_space.used_percentage }}%;"></div></div> {{ status_bar.info.disk_space.formatted_used|join(' ') }} / {{ status_bar.info.disk_space.formatted_total|join(' ') }} | Theme: {{ status_bar.current_theme }} | Version: {{ status_bar.info.version }}</small>
          </div>
        </div>
      {% endif %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
      let action_array = [];
      let jsonString = '';
      let path = '{{ path }}';
    </script>
    <script src="themes/dark/assets/scripts.js"></script>
  </body>
</html>
