<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="FileManager {{ status_bar.info.version }}" />
    <title>FileManager - Manage users</title>
    <link rel="shortcut icon" type="image/png" href="themes/dark/assets/img/filemanager_logo.png"/>
    {% if debug %}
      <link href="themes/dark/assets/style.unminified.css" rel="stylesheet">
    {% else %}
      <link href="themes/dark/assets/style.css" rel="stylesheet">
    {% endif %}
  </head>
  <body translate="no">
    <div class="body_cover"></div>
    <div class="page filemanager-page">
      <div id="dialog" class="jquery_dialog" title="Dialog Form">
        <div class="dialog__content">
        </div>
      </div>
      <div class="section group">
        <div class="col span_3_3">
          <div class="nav-left">
            <button onClick="window.location.href='./updates.php?doUpdate'">Git pull</button>
            <button onClick="window.location.href='./updates.php?updateInfo'">Git status</button>
          </div>
          <div class="nav-right">
            <button onClick="window.location.href='./'">Home</button>
            <div class="dropdown">
              <button class="dropbtn">Manage</button>
              <div class="dropdown-content">
                <a class="dropdown-item" onClick="window.location.href='./options.php';">Settings</a>
                <a class="dropdown-item" onClick="window.location.href='./viewModes.php'">View modes</a>
                <a class="dropdown-item" onClick="window.location.href='./users.php'">Users</a>
                <a class="dropdown-item" onClick="window.location.href='./logs.php';">Logs</a>
                <a class="dropdown-item" onClick="window.location.href='./updates.php';">Updates</a>
                <a class="dropdown-item changePassword">Password</a>
              </div>
            </div>
            <button onClick="window.location.href='./login.php'">Log-out</button>
          </div>
        </div>
      </div>
      <div class="section group max-height">
        <div class="col span_1_3">
          <div class="content">
            <div class="view_modes_list">
              <ul>
                {% if updates.core %}
                  <li><a href="updates.php?update=core"{% if not selected_update %} class="selected"{% endif %}>Core</a></li>
                {% endif %}
                {% if updates.themes %}
                  <li><a> &#8618; Themes</a></li>
                  {% for update,info in updates.themes %}
                    <li><a href="updates.php?update=themes/{{ update }}"{% if selected_update|keys == update %} class="selected"{% endif %}>&nbsp;&nbsp; &#8618; {{ update|capitalize }}</a></li>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col span_2_3">
          <div class="content">
            {% if selected_update %}
              <table>
              {% for update,info in selected_update %}
                {% if versions[update] %}
                  {% set version = versions[update] %}
                {% else %}
                  {% set version = versions[info.type][update] %}
                {% endif %}
                <tr><td>Component:</td><td>{{ info.type }}</td></tr>
                <tr><td>Label:</td><td>{{ update }}</td></tr>
                <tr><td>Version:</td><td>{{ version }}</td></tr>
                <tr><td>Newest version:</td><td>{% if info.version != version %}<span style="color: #ff0000;">{% endif %}{{ info.version }}{% if info.version != version %}</span>{% endif %}</td></tr>
                <tr><td>Changelog:</td><td>{{ info.changelog|raw }}</td></tr>
              {% endfor %}
              </table>
            {% elseif doUpdate or updateInfo %}
              {{ execOutput|raw }}
            {% endif %}
          </div>
        </div>
      </div>
      {% if status_bar is iterable %}
        <div class="section group">
          <div class="col span_3_3" style="padding: 8px">
            <small>[{{ status_bar.status.timestamp|date("d/m/Y | H:i:s") }}] Info: {{ status_bar.status.value|raw }}</small>
            <small style="float:right;"><div id="progressbar"><div style="width:{{ status_bar.info.disk_space.used_percentage }}%;"></div></div> {{ status_bar.info.disk_space.formatted_used|join(' ') }} / {{ status_bar.info.disk_space.formatted_total|join(' ') }} | Theme: {{ status_bar.current_theme }} | Version: {{ status_bar.info.version }}</small>
          </div>
        </div>
      {% endif %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
      let action_array = [];
      let jsonString = '';
      let path = '{{ path }}';
    </script>
    <script src="assets/scripts.js"></script>
  </body>
</html>
