<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="FileManager {{ status_bar.info.version }}" />
    <title>FileManager - Manage users</title>
    <link rel="shortcut icon" type="image/png" href="themes/dark/assets/img/filemanager_logo.png"/>
    {% if debug %}
      <link href="themes/dark/assets/style.unminified.css" rel="stylesheet">
    {% else %}
      <link href="themes/dark/assets/style.css" rel="stylesheet">
    {% endif %}
  </head>
  <body translate="no">
    <div class="body_cover"></div>
    <div class="page filemanager-page">
      <div id="dialog" class="jquery_dialog" title="Dialog Form">
        <div class="dialog__content">
        </div>
      </div>
      <div class="section group">
        <div class="col span_3_3">
          <div class="nav-right">
            <button onClick="window.location.href='./'">Home</button>
            <div class="dropdown">
              <button class="dropbtn">Manage</button>
              <div class="dropdown-content">
                <a class="dropdown-item" onClick="window.location.href='./options.php';">Settings</a>
                <a class="dropdown-item" onClick="window.location.href='./viewModes.php'">View modes</a>
                <a class="dropdown-item" onClick="window.location.href='./users.php'">Users</a>
                <a class="dropdown-item" onClick="window.location.href='./logs.php';">Logs</a>
                <a class="dropdown-item" onClick="window.location.href='./updates.php';">Updates</a>
                <a class="dropdown-item changePassword">Password</a>
              </div>
            </div>
            <button onClick="window.location.href='./login.php?logout'">Log-out</button>
          </div>
        </div>
      </div>
      <div class="section group max-height">
        <div class="col span_1_3">
          <div class="content">
            <div class="view_modes_list">
              <ul>
                <li><a href="./users.php"{% if not selected_user %} class="selected"{% endif %}>Add new user..</a></li>
                {% for user in users %}
                  <li><a href="?user={{ user.unique_id }}"{% if user.unique_id == selected_user.unique_id %} class="selected"{% endif %}>{{ user.username  }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col span_2_3">
          <div class="content">
            {% if selected_user %}
              {% if remove %}
                Are you sure you wish to remove this user?
                <p><button onClick="window.location.href='?user={{ selected_user.unique_id }}&remove=consent'">Yes, I'm sure!</button> <button onClick="window.location.href='?user={{ selected_user.unique_id }}'">No, take me back</button></p>
              {% else %}
                <form method="post">
                  <input type="hidden" name="user_action" value="save" />
                  <input type="hidden" name="user_id" value="{{ selected_user.unique_id }}" />
                  <label for="user_username">
                    Username:
                    <input type="text" name="user_username" value="{{ selected_user.username }}" />
                  </label>
                  <label for="user_email">
                    E-mail address:
                    <input type="text" name="user_email" value="{{ selected_user.email }}" />
                  </label>
                  <label for="user_permissions">
                    Permissions:<br />
                    {% for permission in settings.permissions %}
                      <label><input type="checkbox" style="width:20px;" name="user_permissions[]" value="{{ permission }}" {% if permission in selected_user.permissions or selected_user.unique_id == 1000000 %}checked{% endif %}/> {{ permission }}</label>
                    {% endfor %}
                  </label><br />
                  <label for="user_theme">
                    Selected theme:
                    <select name="user_theme">
                    {% for theme,info in status_bar.themes %}
                      <option value="{{ theme }}"{% if selected_user.theme == theme %} selected{% endif %}>{{ info.label }}</option>
                    {% endfor %}
                    </select>
                  </label><br />
                  <label for="user_save">
                    Save user:
                    <input type="submit" name="user_save" value="Save" />
                  </label>
                </form>
                {% if selected_user.unique_id != 1000000 %}
                  <button class="removeUser" style="color: #333;font-weight:bold;background-color: #fc1b3d;border: 1px solid #fc1b3d;">Remove user</button>
                {% else %}
                  <small>Prime user (user id 1000000) cannot be removed</small>
                {% endif %}
              {% endif %}
            {% else %}
              <form method="post">
                <input type="hidden" name="user_action" value="add" />
                <label for="user_username">
                  Username:
                  <input type="text" name="user_username" placeholder="Username" />
                </label>
                <label for="user_email">
                  E-mail address:
                  <input type="email" name="user_email" placeholder="Email" />
                </label>
                <label for="user_add">
                  Add user:
                  <input type="submit" name="user_add" value="Add" />
                </label>
              </form>
            {% endif %}
            {% for txt in message %}
              <p>{{ txt|raw }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      {% if status_bar is iterable %}
        <div class="section group">
          <div class="col span_3_3" style="padding: 8px">
            <small>[{{ status_bar.status.timestamp|date("d/m/Y | H:i:s") }}] Info: {{ status_bar.status.value|raw }}</small>
            <small style="float:right;"><div id="progressbar"><div style="width:{{ status_bar.info.disk_space.used_percentage }}%;"></div></div> {{ status_bar.info.disk_space.formatted_used|join(' ') }} / {{ status_bar.info.disk_space.formatted_total|join(' ') }} | Theme: {{ status_bar.current_theme }} | Version: {{ status_bar.info.version }}</small>
          </div>
        </div>
      {% endif %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
      let action_array = [];
      let jsonString = '';
      let path = '{{ path }}';
      $(".removeUser").click(function(){
        window.location.href = 'users.php?user={{ selected_user.unique_id }}&remove';
      });
    </script>
    <script src="themes/dark/assets/scripts.js"></script>
  </body>
</html>
