<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="FileManager {{ status_bar.info.version }}" />
    <title>FileManager - View modes</title>
    <link rel="shortcut icon" type="image/png" href="themes/dark/assets/img/filemanager_logo.png"/>
    {% if debug %}
      <link href="themes/dark/assets/style.unminified.css" rel="stylesheet">
    {% else %}
      <link href="themes/dark/assets/style.css" rel="stylesheet">
    {% endif %}
  </head>
  <body translate="no">
    <div class="body_cover"></div>
    <div class="page filemanager-page">
      <div id="dialog" class="jquery_dialog" title="Dialog Form">
        <div class="dialog__content">
        </div>
      </div>
      <div class="section group">
        <div class="col span_3_3">
          <div class="nav-right">
            <button onClick="window.location.href='./'">Home</button>
            <div class="dropdown">
              <button class="dropbtn">Manage</button>
              <div class="dropdown-content">
                <a class="dropdown-item" onClick="window.location.href='./options.php';">Settings</a>
                <a class="dropdown-item" onClick="window.location.href='./viewModes.php'">View modes</a>
                <a class="dropdown-item" onClick="window.location.href='./users.php'">Users</a>
                <a class="dropdown-item" onClick="window.location.href='./logs.php';">Logs</a>
                <a class="dropdown-item" onClick="window.location.href='./updates.php';">Updates</a>
                <a class="dropdown-item changePassword">Password</a>
              </div>
            </div>
            <button onClick="window.location.href='./login.php?logout'">Log-out</button>
          </div>
        </div>
      </div>
      <div class="section group max-height">
        <div class="col span_1_3">
          <div class="content">
            <div class="view_modes_list">
              <ul>
                <li><a href="./viewModes.php"{% if not view_mode %} class="selected"{% endif %}>Add new view mode..</a></li>
              {% for view in all_view_modes %}
                <li><a href="?view_mode={{ view.view_mode }}"{% if view.view_mode == view_mode.view_mode %} class="selected"{% endif %}>{{ view.view_mode|capitalize  }}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col span_2_3">
          <div class="content">
            {% if view_mode %}
              {% if remove %}
                Are you sure you wish to remove the view mode <i>{{ view_mode.view_mode }}</i>?
                <p><button onClick="window.location.href='?view_mode={{ view_mode.view_mode }}&remove=consent'">Yes, I'm sure!</button> <button onClick="window.location.href='?view_mode={{ view_mode.view_mode }}'">No, take me back</button></p>
              {% else %}
                <form method="post">
                  <input type="hidden" name="view_mode_action" value="save" />
                  <input type="hidden" name="view_mode_id" value="{{ view_mode.id }}" />
                  <label for="view_mode_view_mode">
                    Label <small>(This can't be edited after creation)</small>:
                    <input type="text" name="view_mode_view_mode" value="{{ view_mode.view_mode }}" readonly="true" />
                  </label>
                  <label for="view_mode_max_fn_length">
                    Max characters in filename:
                    <input type="text" name="view_mode_max_fn_length" value="{{ view_mode.max_fn_length }}" required />
                  </label>
                  <label for="view_mode_prefix">
                    Item prefix:
                    <textarea rows="5" name="view_mode_prefix">{{ view_mode.prefix }}</textarea>
                  </label>
                  <label for="view_mode_code">
                    Item content:
                    <textarea rows="5" name="view_mode_code" required>{{ view_mode.code }}</textarea>
                  </label>
                  <label for="view_mode_suffix">
                    Item suffix:
                    <textarea rows="5" name="view_mode_suffix">{{ view_mode.suffix }}</textarea>
                  </label>
                  <label for="view_mode_css">
                    Item specific css:
                    <textarea rows="5" name="view_mode_css">{{ view_mode.css }}</textarea>
                  </label>
                  <label for="view_mode_js">
                    Item specific javascript:
                    <textarea rows="5" name="view_mode_js">{{ view_mode.js }}</textarea>
                  </label>
                  <label for="view_mode_save">
                    Save view mode:
                    <input type="submit" name="view_mode_save" value="Save" />
                  </label>
                </form>
                <button class="removeViewMode" style="color: #333;font-weight:bold;background-color: #fc1b3d;border: 1px solid #fc1b3d;">Remove view mode</button>
              {% endif %}
            {% else %}
              <form method="post">
                <input type="hidden" name="view_mode_action" value="add" />
                <label for="view_mode_view_mode">
                  Label:
                  <input type="text" name="view_mode_view_mode" placeholder="View mode label" required />
                </label>
                <label for="view_mode_max_fn_length">
                  Max characters in filename:
                  <input type="text" name="view_mode_max_fn_length" placeholder="Maximum character length the filename should have" required />
                </label>
                <label for="view_mode_prefix">
                  Item prefix:
                  <textarea rows="5" name="view_mode_prefix" placeholder="Html prefix to the item"></textarea>
                </label>
                <label for="view_mode_code">
                  Item content:
                  <textarea rows="5" name="view_mode_code" placeholder="The full list item html code" required></textarea>
                </label>
                <label for="view_mode_suffix">
                  Item suffix:
                  <textarea rows="5" name="view_mode_suffix" placeholder="Html suffix to the item"></textarea>
                </label>
                <label for="view_mode_css">
                  Item specific css:
                  <textarea rows="5" name="view_mode_css" laceholder="Item specific css code"></textarea>
                </label>
                <label for="view_mode_js">
                  Item specific javascript:
                  <textarea rows="5" name="view_mode_js" placeholder="Item specific javascript code"></textarea>
                </label>
                <label for="view_mode_add">
                  Add view mode:
                  <input type="submit" name="view_mode_add" value="Add" />
                </label>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% if status_bar is iterable %}
        <div class="section group">
          <div class="col span_3_3" style="padding: 8px">
            <small>[{{ status_bar.status.timestamp|date("d/m/Y | H:i:s") }}] Info: {{ status_bar.status.value|raw }}</small>
            <small style="float:right;"><div id="progressbar"><div style="width:{{ status_bar.info.disk_space.used_percentage }}%;"></div></div> {{ status_bar.info.disk_space.formatted_used|join(' ') }} / {{ status_bar.info.disk_space.formatted_total|join(' ') }} | Theme: {{ status_bar.current_theme }} | Version: {{ status_bar.info.version }}</small>
          </div>
        </div>
      {% endif %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
      let action_array = [];
      let jsonString = '';
      let path = '{{ path }}';
      $(".removeViewMode").click(function(){
        window.location.href = 'viewModes.php?view_mode={{ view_mode.view_mode }}&remove';
      });
    </script>
    <script src="themes/dark/assets/scripts.js"></script>
  </body>
</html>
