<label for="submit_button">
    <button id="submit_button">{{ button_text }}</button><span class="loader"></span>
</label><br />
<label for="filename">
    <input name="filename" class="filename" placeholder="Compressed file name" autofocus="true" />
</label><br />
<label for="files">
    Files to be archived:
    <ul class="folders" id="files">
        {% for item in files %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>
</label>
<script>
  /* Reset destination folder */
  $.get("{{ ajax_link }}", { mode: 'updateNewFolder', folder: '/' } );
    $(".loader").css("display", "none");

  $("#submit_button").on('click', function() {
    $(".loader").css("display", "block");
    filename = $(".filename").val();
	  $.get("{{ ajax_link }}", { mode: 'compressFiles', compressed_file_name: filename } ).done(function(){
      $(".loader").css("display", "none");
      window.location.reload();
    });
  });
  $("#files_destination").on('change', function() {
	  $.get("{{ ajax_link }}", { mode: 'updateNewFolder', folder: this.value } );
  });
</script>