<label for="submit_button">
  <button id="submit_button">{{ button_text }}</button><span class="loader"></span>
</label><br />
<label for="files_destination">
  Destination:
  <select class="dialog__folders" id="files_destination">
    <option value="/">{{ root_folder }}</option>
	{{ filesystem | raw }}
  </select>
</label><br />
<label for="files">
  Files:
  <ul class="folders" id="files">
	  {% for item in files %}
	    <li>{{ item.name }}</li>
	  {% endfor %}
  </ul>
</label>
<script>
  /* Reset destination folder */
  $.get("{{ ajax_link }}", { mode: 'updateNewFolder', folder: '/' } );
  $(".loader").css("display", "none");

  $("#submit_button").on('click', function() {
    $(".loader").css("display", "block");
    $.get("{{ ajax_link }}", { mode: 'copyFiles' } ).done(function(){
      $(".loader").css("display", "none");
      window.location.reload();
    });
  });
  $("#files_destination").on('change', function() {
	  $.get("{{ ajax_link }}", { mode: 'updateNewFolder', folder: this.value } );
  });
</script>