<label for="submit_button">
  <button id="submit_button">{{ button_text }}</button><span class="loader"></span>
</label><br />
<label for="files">
	Files:
	<ul class="folders" id="files">
	  {% for item in files %}
	    <li>{{ item.name }}</li>
	  {% endfor %}
	</ul>
</label>
<script>
  $(".loader").css("display", "none");
  $("#submit_button").on('click', function() {
    $(".loader").css("display", "block");
    $.get("{{ ajax_link }}", { mode: 'deleteFiles' } ).done(function(){
      $(".loader").css("display", "none");
      window.location.reload();
    });
  });
</script>