<label for="submit_button">
	<button id="submit_button">{{ button_text }}</button><span class="loader"></span>
</label><br />
<label for="file_content">
	<textarea style="height: 90%;" id="file_content" name="file_content" autofocus="true">{{ content }}</textarea>
</label>
<script>
	$(".loader").css("display", "none");
	$('#submit_button').click(function(){
		$(".loader").css("display", "block");
		$.post('{{ ajax_link }}', { mode: 'saveFile', path: '{{ path }}', filename: '{{ filename }}', filecontent: $('#file_content').val() })
		.done(function() {
			$(".loader").css("display", "none");
			window.location.reload();
		});
	});
</script>
