<label for="submit_button">
  <button id="submit_button">{{ button_text }}</button><span class="loader"></span>
</label><br />
<label for="filename">
  <input id="filename" value="{{ files.name }}" autofocus="true" />
</label>
<script>
  $(".loader").css("display", "none");
  $('#submit_button').click(function(){
    $(".loader").css("display", "block");
    $.get('{{ ajax_link }}', { mode: 'renameFile', path: '{{ path }}', old_filename: '{{ files.name }}', filename: $('#filename').val() })
      .done(function() {
        $(".loader").css("display", "none");
        window.location.reload();
      });
  });
</script>
