<label for="submit_button">
  <button id="submit_button">{{ button_text }}</button><span class="loader"></span>
</label><br />
Are you sure you wish to delete this folder?
<p>{{ folder }}</p>
<script>
  $(".loader").css("display", "none");
  $("#submit_button").on('click', function() {
    $(".loader").css("display", "block");
    $.get("{{ ajax_link }}", { mode: 'deleteFolder', path: '{{ path }}' } ).done(function(){
      $(".loader").css("display", "none");
      window.location.reload();
    });
  });
</script>