<label for="submit_button">
  <button id="submit_button">{{ button_text }}</button><span class="loader"></span>
</label><br />
<label for="foldername">
  <input id="foldername" placeholder="Folder name" autofocus="true" />
</label>
<script>
  $(".loader").css("display", "none");
  $('#submit_button').click(function(){
    $(".loader").css("display", "block");
    $.get('{{ ajax_link }}', { mode: 'newFolder', path: '{{ path }}', foldername: $('#foldername').val() })
    .done(function() {
      $(".loader").css("display", "none");
      window.location.reload();
    });
  });
</script>