<style>
.upload .upload-area {
    width: 95%;
    height: 260px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

.upload .upload-area:hover {
    cursor: pointer;
}

.upload .upload-area h4 {
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 50px;
    color: #fff;
}

.upload #file {
    display: none;
}

.upload .size{
    font-size:12px;
}
</style>
<div class="upload" >
    <input type="hidden" name="path" value="{{ path }}" />
    <input type="file" name="file" id="file">
    <div class="upload-area"  id="uploadfile">
        <h4>Drag and Drop file here<br/>Or<br/>Click to select file</h4>
    </div>
</div>
<script>
$(function() {
    $("html").on("dragover", function(e) {
        e.preventDefault();
        e.stopPropagation();
        $("h4").text("Drag here");
    });

    $("html").on("drop", function(e) { e.preventDefault(); e.stopPropagation(); });

    $('.upload-area').on('dragenter', function (e) {
        e.stopPropagation();
        e.preventDefault();
        $("h4").text("Drop");
    });

    $('.upload-area').on('dragover', function (e) {
        e.stopPropagation();
        e.preventDefault();
        $("h4").text("Drop");
    });

    $('.upload-area').on('drop', function (e) {
        e.stopPropagation();
        e.preventDefault();
        $("h4").text("Upload");
        var file = e.originalEvent.dataTransfer.files;
        var fd = new FormData();
        fd.append('file', file[0]);
        fd.append('path', '{{ path }}');
        uploadData(fd);
    });

    $("#uploadfile").click(function(){
        $("#file").click();
    });

    $("#file").change(function(){
        var fd = new FormData();
        var files = $('#file')[0].files[0];
        fd.append('file',files);
        fd.append('path', '{{ path }}');
        uploadData(fd);
    });
});

function uploadData(formdata) {
    console.log('Beginning ajax request');
    $.ajax({
        url: '{{ ajax_link }}?mode=fileUpload',
        type: 'POST',
        data: formdata,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function(response){
            window.location.reload();
        }
    });
}
</script>