<label for="submit_button">
  <button id="submit_button">{{ button_text }}</button><span class="loader"></span>
</label><br />
<label for="password">
  Password:
  <input type="password" id="password" autofocus="true" />
</label>
<label for="password_repeat">
  Repeat password:
  <input type="password" id="password_repeat" autofocus="true" />
</label>
<div class="pw_result">
</div>
<script>
  $(".loader").css("display", "none");
  $('#submit_button').click(function(){
    if ($('#password').val() == $('#password_repeat').val()) {
      $(".loader").css("display", "block");
      $.get('{{ ajax_link }}', { mode: 'renameFolder', path: '{{ path }}', foldername: $('#foldername').val() })
      .done(function(data) {
        $(".loader").css("display", "none");
        $(".pw_result").html("<strong>" + data + "</strong>");
      });
    }
  });
  
  $("#password").on("keyup", function() {
    if ($("#password").val() != $("#password_repeat").val()) {
      $(".pw_result").html("<strong>Passwords don't match!</strong>");
    } else {
      $(".pw_result").html("");
    }
  });
  
  $("#password_repeat").on("keyup", function() {
    if ($("#password").val() != $("#password_repeat").val()) {
      $(".pw_result").html("<strong>Passwords don't match!</strong>");
    } else {
      $(".pw_result").html("");
    }
  });
</script>