<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="generator" content="FileManager {{ status_bar.info.version }}" />
    <title>Movies - FileManager</title>
    <link rel="shortcut icon" type="image/png" href="themes/dark/assets/img/filemanager_logo.png"/>
    {% if debug %}
      <link href="themes/dark/assets/style.unminified.css" rel="stylesheet">
    {% else %}
      <link href="themes/dark/assets/style.css" rel="stylesheet">
    {% endif %}
    {% for item in assets.css %}
      <link href="{{ item }}" rel="stylesheet">
    {% endfor %}
    <style language="css">
      #movies {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        width: 100%;
        border-collapse: collapse;
      }
      #movies td, #movies th {
        padding: 8px;
        color: #d8d8d8;
      }
      #movies tr:nth-child(even){background-color: #494949;}
      #movies tr:hover {background-color: #222;}
      #movies th {
        padding-top: 12px;
        padding-bottom: 12px;
        background: #333;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 10;
        text-shadow: 0px 0px 5px #000;
      }
      .clickable {
        cursor: pointer;
      }
      .watched {
        background-color: darkgreen;
      }
      .not-watched {
        background-color: darkred;
      }
    </style>
  </head>
  <body translate="no">
  <div class="body_cover" style="background:#000 url(https://66.media.tumblr.com/f678ce38eb896bc1d4aaa911958af087/tumblr_n2eccv6Dev1rgpzseo1_1280.gif) no-repeat center center;"></div>
  <div class="page filemanager-page">
    <div id="dialog" class="jquery_dialog" title="Dialog Form">
      <div class="dialog__content">
      </div>
    </div>
    <div class="section group">
      <div class="col span_3_3">
        <div class="nav-right">
          <button onClick="window.location.href='./'">Home</button>
          <div class="dropdown">
            <button class="dropbtn">Manage</button>
            <div class="dropdown-content">
              {% if permissions.administer_site %}
                <a class="dropdown-item" onClick="window.location.href='./options.php';">Settings</a>
                <a class="dropdown-item" onClick="window.location.href='./viewModes.php'">View modes</a>
                <a class="dropdown-item" onClick="window.location.href='./users.php'">Users</a>
                <a class="dropdown-item" onClick="window.location.href='./logs.php';">Logs</a>
                <a class="dropdown-item" onClick="window.location.href='./updates.php';">Updates</a>
              {% endif %}
              <a class="dropdown-item changePassword">Password</a>
            </div>
          </div>
          <button onClick="window.location.href='./login.php?logout'">Log-out</button>
        </div>
      </div>
    </div>
    <div class="section group max-height">
      <div class="col span_3_3">
        <div class="content">
          <table style="width:95%" id="movies">
            <thead>
              <tr>
                <th><a href="{{ links.sort_key_watched }}">Watched</a></th>
                <th><a href="{{ links.sort_key_movie }}">Movie</a></th>
                <th><a href="{{ links.sort_key_added }}">Added</a></th>
                <th><a href="{{ links.sort_key_updated }}">Updated</a></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
              <tr>
                <td onClick="window.location.href='?update&id={{ movie.id }}&status={{ movie.watched }}';" class="{% if movie.watched == 0 %}not-watched{% else %}watched{% endif %} clickable"></td>
                <td>{% if movie.fm %}<a href="./?path=/movies/{{ movie.movie }}" target="_blank">{{ movie.movie }}</a>{% else %}{{ movie.movie }}{% endif %}</td>
                <td>{{ movie.added|date("d/m/Y") }}</td>
                <td>{{ movie.updated|date("d/m/Y") }}</td>
                <td>{% if not movie.fm %}<a href="#{{ movie.id }}" onClick="moveMovie('{{ movie.id }}')">Move</a>{% endif %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% if status_bar is iterable %}
      <div class="section group">
        <div class="col span_3_3" style="padding: 8px">
          <small>[{{ status_bar.status.timestamp|date("d/m/Y | H:i:s") }}] Info: {{ status_bar.status.value|raw }}</small>
          <small style="float:right;"><div id="progressbar"><div style="width:{{ status_bar.info.disk_space.used_percentage }}%;"></div></div> {{ status_bar.info.disk_space.formatted_used|join(' ') }} / {{ status_bar.info.disk_space.formatted_total|join(' ') }} | Theme: {{ status_bar.current_theme }} | Version: {{ status_bar.info.version }}</small>
        </div>
      </div>
    {% endif %}
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript">
      function moveMovie(id) {
          $(".body_cover").css("display", "block");
          $.get("movies.php", { move: id } ).done(function(){
              $(".body_cover").css("display", "none");
              window.location.reload();
          });
      }
  </script>
  {% for item in assets.js %}
    <script src="{{ item }}"></script>
  {% endfor %}
  <script src="themes/dark/assets/scripts.js"></script>
  </body>
</html>